<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{myForm.valid}}
    Form invalid ? {{myForm.valid}}
  </div>

  <fieldset>
    <label for="title-order">Title</label>
    <input id="title-order" name="title-order" type="text" [(ngModel)]="model.title" #title="ngModel" required minlength="5" maxlength="30"/>
  </fieldset>

  <!-- Message d'erreurs de title -->
  <div *ngIf="title.errors">
    <span *ngIf="title.errors?.required">Le titre est requis</span>
    <span *ngIf="title.errors?.minlength">La longueur minimale doit être supérieure à 5</span>
    <span *ngIf="title.errors?.maxlength">La longueur maximale doit être inférieure à 30</span>
  </div>


  <fieldset>
    <label for="quantity-order">Quantité</label>
    <input id="quantity-order" name="quantity-order" [(ngModel)]="model.quantity" #quantity="ngModel" type="number" required>
  </fieldset>

 <!-- Message d'erreurs de quantity -->
  <div *ngIf="quantity.errors">
    <span *ngIf="quantity.errors.required">Le champ quantité est requis</span>
  </div>


  <fieldset>
    <label for="date-order">Date de commande</label>
    <input id="date-order" name="date-order" type="date" [(ngModel)]="model.date" #date="ngModel" required>
  </fieldset>

<!-- Message d'erreurs de date -->
  <div *ngIf="date.errors">
    <span *ngIf="date.errors.required">Le champ email est requis</span>
  </div>


  <fieldset>
    <label for="contact-order">Contact</label>
    <input id="contact-order" name="contact-order" type="email" [(ngModel)]="model.contact" #contact="ngModel" required email>
  </fieldset>

  <!-- Message d'erreurs de contact -->
  <div *ngIf="contact.errors">
    <span *ngIf="contact.errors.required">Le champ email est requis</span>
    <span *ngIf="contact.errors.email">L'adresse email doit être valide</span>
  </div>


  <button type="reset">Restaurer</button>
  <button type="submit">Sauvegarder</button>
</form>
